
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <title>Login page - Online Shopping</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Online Shopping"/>
    <meta name="author" content="Adeel Ahmed"/>

    <!-- Le styles -->
    <link href="../css/login.bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/bootstrap-responsive.min.css"/>
    

    <link rel="stylesheet" href="../css/my-login.css"/>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le favicon -->
    <link rel="shortcut icon" href="favicon.ico"/>
<base href="/"></base>
  </head>

  <body ng-app="app">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="index.html"><img src="../images/logo.png" alt="Kids Mantra"/></a>
        </div>
      </div>
    </div>

    <div class="container" ng-controller="loginController">

        <div id="login-wraper">
            <form class="form login-form" th:action="@{/j_spring_security_check}" method='POST'>
                <legend>Sign in to <span class="blue">MyApp</span></legend>
            
                <div class="body">
                    <label>Username</label>
                    <input type="text" name='username'/>
                    
                    <label>Password</label>
                    <input type="password" name='password' />
                </div>
            
                <div class="footer">
                    <label class="checkbox inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1" name="remember-me"/> Remember me
                    </label>
                                
                    <button type="submit" class="btn btn-success" value="submit" >Login</button>
                </div>
            
            </form>
        </div>

    </div>

    <footer class="white navbar-fixed-bottom">
      Don't have an account yet? <a href="register.html" class="btn btn-black">Register</a>
    </footer>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/backstretch.min.js"></script>
    <script src="../js/my-login.js"></script>

	 <script src="../js/angular.js"></script>

   <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28//angular-route.min.js"></script>
     <script src="../js/angular-animate.js"></script>
    <script src="../js/angular-sanitize.js"></script>
    <script src="../js/angular-touch.js"></script>
    <script src="../js/angular-loader.js"></script>
    <script src="../js/angular-resource.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    
    <script src="js/ng_app.js"></script>
    <script src="js/ng-controllers/loginController.js"></script>
    
  </body>
</html>
